{% extends "tours/base_tours.html" %}
{% load staticfiles i18n %}
{% block content_tours %}
    <div class="content_block">
        <h1>{% trans 'Горячие туры' %}</h1>
        <div class="content_line"></div>
        <script src="http://ui.sletat.ru/client/linker_hot.js?settings={'setup':{'STA':1,'country':119},formViewMode:'block'}&sfx=_kyYEI" type="text/javascript"></script><iframe id="sm2_slySearch_kyYEI" src="http://ui.sletat.ru/HotForm.html?sfx=_kyYEI&fbg=ffffff&mbg=ffffff&bbg=ffffff&bbd=eeeeee&cbd=abadb3&c1=222222&c2=838383&c3=9d1414&c4=dac6a1&style=.full.country%20span%23main%7Bfont-weight%3A%20bold%20!important%3B%7D.full.country%20span%23main%7Bfont-style%3A%20normal%20!important%3B%7D.full.country%7B-moz-border-radius%3A5px%20!important%3Bborder-radius%3A%205px%20!important%3B%7D&currency=RUB&tpl=full&dptCity=832&country=40&countriesAmount=10&noMoreCountries=0&ph=1&stpl=%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5%20%D1%82%D1%83%D1%80%D1%8B%20(%D0%A7%D0%B5%D0%BB%D1%8F%D0%B1%D0%B8%D0%BD%D1%81%D0%BA)&settings={'plugins':[]}" style="background:url('http://ui.sletat.ru/gfx/ld3.gif') no-repeat center center;" width="648" height="627.5" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="content_block">
        <div class="content_line"></div>
        <iframe allowtransparency="true" onload="sm2_sly_kyYEI.init()" id="sm2_slyResult_kyYEI" src="http://ui.sletat.ru/HotResult.html?sfx=_kyYEI&fbg=ffffff&mbg=ffffff&bbg=ffffff&bbd=eeeeee&cbd=abadb3&c1=222222&c2=838383&c3=9d1414&c4=dac6a1&style=.full.country%20span%23main%7Bfont-weight%3A%20bold%20!important%3B%7D.full.country%20span%23main%7Bfont-style%3A%20normal%20!important%3B%7D.full.country%7B-moz-border-radius%3A5px%20!important%3Bborder-radius%3A%205px%20!important%3B%7D&currency=RUB&rc=5&ph=1&stpl=%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5%20%D1%82%D1%83%D1%80%D1%8B%20(%D0%A7%D0%B5%D0%BB%D1%8F%D0%B1%D0%B8%D0%BD%D1%81%D0%BA)&settings={'plugins':[]}" height="320" width="645" frameborder="0" style="display:none" scrolling="no"></iframe>
    </div>
{% endblock %}