{% extends "tours/base_tours.html" %}
{% load staticfiles i18n %}
{% block content_tours %}
    <div class="content_block">
        <h1>{% if seo %}{{ seo.h1 }}{% else %}{% trans 'Поиск туров' %}{% endif %}</h1>
        <div class="content_line"></div>
        <script src="http://ui.sletat.ru/client/linker.js?settings={formViewMode:'block'}&sfx=_gSBp8" type="text/javascript"></script>
        <iframe  id="sm_slySearch_gSBp8" src="http://ui.sletat.ru/SearchForm.html?sta=1&currency=RU&sfx=_gSBp8&fbg=f4eedf&mbg=ffffff&bbg=ffffff&bbd=eeeeee&cbd=abadb3&c1=222222&c2=838383&c3=9d1414&c4=dac6a1&style=p.caption%7Bfont-weight%3A%20bold%20!important%3B%7Dp.caption%7Bfont-style%3A%20normal%20!important%3B%7Dbody%20div%23sf%7B-moz-border-radius%3A5px%20!important%3Bborder-radius%3A%205px%20!important%3B%7D&tpl=inreg&showRange=1&dptCity=832&country=40&hideShopTours=0&settings={'plugins':['card_payment','flight_flag']}"  style="background:url('http://ui.sletat.ru/gfx/ld3.gif') no-repeat center center;min-width: 664px; max-width: 980px" width="100%" height="216" frameborder="0" scrolling="no"></iframe>
        <input type="button" value="Найти туры" onclick="sm_sly_gSBp8.go()" class="search_tours"/>

    </div>
    <div class="content_block">

        <div class="content_line"></div>
        <iframe allowtransparency="true" onload="sm_sly_gSBp8.init()" id="sm_slyResult_gSBp8" src="http://ui.sletat.ru/SearchResult.html?sfx=_gSBp8&fbg=f4eedf&mbg=ffffff&bbg=ffffff&bbd=eeeeee&cbd=abadb3&c1=222222&c2=838383&c3=9d1414&c4=dac6a1&style=p.caption%7Bfont-weight%3A%20bold%20!important%3B%7Dp.caption%7Bfont-style%3A%20normal%20!important%3B%7Dbody%20div%23sf%7B-moz-border-radius%3A5px%20!important%3Bborder-radius%3A%205px%20!important%3B%7D&firstDelay=7000&rc=15&hideShopTours=0&ph=1&settings={'plugins':['card_payment']}" height="150" width="100%" frameborder="0" style="display:none;min-width:664px; max-width:980px" scrolling="no"></iframe>
    </div>
{% endblock %}