@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
        margin:0 ;
        padding:0 ;
        border: 0;
        outline:0 ;
        font-size: 12px;
        background: transparent;
		font-family: Verdana;
}
html {background: #000 url("../img/index/bg_sky.jpg");}

table 							{ border-collapse: collapse; border-spacing:0 ;}
.clear 							{ clear:both; height: 0px; }
a 								{ text-decoration:none; }
html 							{ height: 100%; }
textarea						{ resize: none; }



body    {background: url("../img/index/bg_ostrov.jpg")top center no-repeat; color: #fff; min-height: 1214px; position: relative; }

div#body {outline:0px solid #f00; height: 1214px; max-width: 1400px; margin: auto; background: url("../img/index/bg_footer.jpg")bottom center no-repeat;position: relative;}


div#ostrov {height: 1118px; max-width: 1400px;position: relative;}
div#ostrov #club_interests {width: 388px; height: 96px; background: url("../img/index/club_interests.png") no-repeat; position: absolute; bottom: 200px; margin: 0 40%;}
div#ostrov #club_about {height:115px;  position: absolute; bottom: 95px; text-align: center; overflow: hidden; max-width: 1400px; width: 1390px; }

div#ostrov #content {outline:0px solid #ffffff; width:1000px; margin: auto; padding-top: 10px;}
div#ostrov #content #phone_top {color: #ffffff; font-size: 20px; float: left;}
div#ostrov #content #auth_top {color: #ffffff; font-size: 20px; float: right;}
div#ostrov #content #auth_top a {color: #C3D9F4; font-size: 14px; text-decoration: underline; margin-left: 15px; font-style: italic;}
div#ostrov #content #auth_top a:hover {text-decoration: none;}

div#ostrov #content #left_menu {margin-top: 100px; width: 400px; float: left;}
div#ostrov #content #left_menu .left_menu_l {height: 43px; width: 43px; background: url("../img/index/bottom_left.png") no-repeat; float: left;}
div#ostrov #content #left_menu .left_menu_r {height: 43px; width: 43px; background: url("../img/index/bottom_right.png") no-repeat; float: left;}
div#ostrov #content #left_menu a {color: #CEE6FF; font-size: 14px; float: left; height: 43px; display: block;  background: url("../img/index/bottom_centr.png") 0px -8px repeat-x; line-height: 35px;}
div#ostrov #content #left_menu a:hover {color: #96C6D2; text-decoration: underline;}

div#ostrov #content #right_menu {margin-top: 100px; width: 400px; float: right; text-align: right;}

div#footer {outline:0px solid #f00; bottom: 0px; position: absolute; width: 100%; height: 206px;}

div#footer #social {outline:0px solid #fff; margin-left: 180px; width: 300px; height: 65px; left: 0px; bottom: 0px; position: absolute;}

div#footer #social a#vkontakte { float:left; height: 50px; width: 40px; border: 0px solid #ffffff; display: block; margin: 0px 10px; background: url("../img/index/social.png")0px 6px no-repeat;}
div#footer #social a#vkontakte:hover {background: url("../img/index/social.png")0px -48px no-repeat;}
div#footer #social a#vkontakte:active {background: url("../img/index/social.png")0px -112px no-repeat;}

div#footer #social a#google {float:left;height: 50px; width: 40px; border: 0px solid #ffffff; display: block; margin: 0px 10px; background: url("../img/index/social.png")-58px 6px no-repeat;}
div#footer #social a#google:hover {background: url("../img/index/social.png")-58px -48px no-repeat;}
div#footer #social a#google:active {background: url("../img/index/social.png")-58px -112px no-repeat;}

div#footer #social a#facebook {float:left;height: 50px; width: 40px; border: 0px solid #ffffff; display: block; margin: 0px 10px; background: url("../img/index/social.png")-116px 6px no-repeat;}
div#footer #social a#facebook:hover {background: url("../img/index/social.png")-116px -48px no-repeat;}
div#footer #social a#facebook:active {background: url("../img/index/social.png")-116px -112px no-repeat;}

div#footer #social a#twitter {float:left;height: 50px; width: 40px; border: 0px solid #ffffff; display: block; margin: 0px 10px; background: url("../img/index/social.png")-174px 6px no-repeat;}
div#footer #social a#twitter:hover {background: url("../img/index/social.png")-174px -48px no-repeat;}
div#footer #social a#twitter:active {background: url("../img/index/social.png")-174px -112px no-repeat;}


div#footer #contacts {outline:0px solid #999; height:200px; width: 400px; right: 0px; bottom: 0px; position: absolute;}
div#footer #contacts img {float: right; clear: both;}
div#footer #contacts p {float: right; clear: both; text-align: right; color: #E8D4C0; margin-top: 20px; padding-right: 10px;}
div#footer #contacts p a {color: #C3D9F4;}
div#footer #contacts p a:hover {text-decoration: underline;}
