@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, legend, /*fieldset,*/
table, caption, tbody, tfoot, thead, tr, th, td {
        margin:0 ;
        padding:0 ;
        border: 0;
        outline:0 ;
        font-size: 12px;
        background: transparent;
		font-family: Verdana;
        color: #666666;
        list-style: none;
}
html {background: #FDFDCA url("../img/map_bg.png")top center no-repeat;}

table 							{ border-collapse: collapse; border-spacing:0 ;}
.clear 							{ clear:both; height: 0px; }
.left 							{ float: left; }
.right 							{ float: right; }
a 								{ text-decoration:none; }
html 							{ height: 100%; }
textarea						{ resize: none; }
.red                            { color: #ff0000; }
.green                          { color: #06A20A; }
.blue                           { color: #0000ff; }

.ui-draggable, .ui-droppable, #ui-datepicker-div {
	background-position: top;
    font-size: 12px;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}
.errorlist {
    color: #ff0000;
}
.country{
    background: url("../img/flags_sprite.png")no-repeat;
    height: 11px;
    width: 12px;
    padding-right: 10px;
    float: left;
    top: 3px;
    position: relative;
}
/*Формы*/
input, select, textarea{

    margin: 4px 10px;
    padding: 4px 6px;
    font-size: 12px;
    color: #666;
    border: 1px solid #aaa;
}
input:focus,
textarea:focus{
    border: 1px solid #EF9357;
}
input[type=submit]{
    background: #ED8845;
    border: none;
    margin: 20px 5px 10px 0;
    min-width: 131px;
    height: 43px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    font-weight: bold;
    float: right;
}
input[type=submit]:active{
    background: #C76551;
}

th {
    text-align: left;
}

/* Дизайн */
#body {
    width: 1000px;
    min-height: 500px;
    margin: auto;
    background: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);
    border-radius: 0px 0px 5px 5px;
    position: relative;
    /*padding: 5px;*/
}

#body #top_menu{
    height: 56px;
    background: #F6F7F7;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
#body #top_menu .login_top{
    float: right;
    height: 100%;
}
#body #top_menu .login_top a{
    color: #666;
    font-size: 14px;
    text-decoration: underline;
    margin-right: 15px;
    font-style: italic;
    line-height: 50px;
}
#body #top_menu .login_top a:hover {text-decoration: none;}

#body #top_menu .logo_top{
    float: left;
}
#body #top_menu .menu_top{
    float: left;
    height: 100%;
    display: block;
    line-height: 50px;
    font-size: 12px;
    color: #666;
    padding: 0px 10px;
    font-weight: bold;
}
#body #top_menu .menu_top:hover{
    color: #fff;
    background: #aaa;
}
#body #top_menu .menu_top.active{
    background: #E2E2E2;
}
#body #top_menu .menu_top.active:hover{
    color: #fff;
    background: #aaa;
}
#body #top_banner {

    height: 150px;
    padding: 10px;
    display: none;
    text-align: center;
}
#body #content{ border: 0px solid #000000; margin-top: 20px; }
#body #content #sub_menu{
    border: 0px solid #f00;
    width: 210px;
    float: left;
    margin-left: 30px;
}
#body #content #sub_menu table.sub_menu{
    width: 100%;
    margin-bottom: 20px;
}
#body #content #sub_menu table.sub_menu td{
    border: 1px solid #ccc;
    text-align: center;
}
#body #content #sub_menu table.sub_menu td a{
    padding: 10px;
    color: #666;
    font-weight: bold;
    display: block;
}
#body #content #sub_menu table.sub_menu td a.active{
    background: #E2E2E2;
}
#body #content #sub_menu table.sub_menu td a:hover{
    color: #fff;
    background: #aaa;
}
#body #content #sub_menu .sub_block{
    border: 1px solid #ccc;
    padding: 10px;
    color: #666;
}
#body #content #sub_menu .sub_line{
    background: url("../img/sub_line.png") center no-repeat;
    height: 33px;
    margin: 10px 0px;
}

#body #content #main_content{
    width: 700px;
    float: right;
    border-left: 0px solid #ccc;
    min-height: 400px;
    box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
    padding: 20px 0 0 20px;
}
#body #content #main_content h1{
    font-weight: bold;
    font-size: 14px;
    color: #666;
}
#body #content #main_content .content_line{
    border-bottom: 1px solid #ccc;
    margin: 10px 0px;
    clear: both;
}
#footer{
    width: 1000px;
    min-height: 100px;
    margin: auto;
    position: relative;
    margin-top: 40px;
}
#footer #footer_menu{
    border: 0px solid #0f0;
    width: 650px;
    float: left;
    height: 100%;
    min-height: 100px;
}
#footer #footer_contact{
    border: 0px solid #00f;
    width: 330px;
    float: right;
    min-height: 100px;
    text-align: right;
    color: #333;
}
#footer #footer_contact a{
    color: #333;
    font-weight: bold;
}
#footer #footer_contact a:hover{
    text-decoration: underline;
}

/*pagination*/
#main_content .pagination {
    width: 300px;
    height: 20px;
    margin: auto;
}
#main_content .pagination .step_links .previous{
    height: 18px;
    width: 18px;
    display: block;
    margin-right: 10px;
    background: url("../img/arrow.png")no-repeat;
    float: left;
}
#main_content .pagination .step_links .previous:hover{
    background: url("../img/arrow.png")0 -20px no-repeat;
}
#main_content .pagination .step_links .next{
    height: 18px;
    width: 18px;
    display: block;
    margin-left: 10px;
    background: url("../img/arrow.png")-20px 0px no-repeat;
    float: left;
}
#main_content .pagination .step_links .next:hover{
    background: url("../img/arrow.png")-20px -20px no-repeat;
}
#main_content .pagination .step_links .current a,
#main_content .pagination .step_links .current b{
    display: block;
    height: 18px;
    width: 18px;
    text-align: center;
    color: #ffffff;
    background: #45B4E5;
    float: left;
    border-radius: 3px 3px 3px 3px;
    margin: 0 2px;
}
#main_content .pagination .step_links .current b{
    background: #EF985E;
}
#main_content .pagination .step_links .current b:hover,
#main_content .pagination .step_links .current a:hover{
    background: #006666;
    cursor: pointer;
}
#main_content .pagination .step_links .current .tcheka{
    height: 18px;
    width: 18px;
    text-align: center;
    float: left;
    margin: 0 2px;
    text-decoration: none;
}

/*news*/
#main_content .news td {
    color: #666;
    padding-right: 10px;
}
#main_content .news a,
#main_content .news_one strong{
    color: #45B4E5;
    font-size: 14px;
    font-weight: bold;
}
#main_content .news a:hover{
    text-decoration: underline;
}
#main_content .news img,
#main_content .news_one img{
    border: 1px solid #ccc;
    padding: 2px;
    float: left;
    margin: 0px 15px 5px 0;
}
#main_content .news_one{
    color: #666;
    padding-right: 10px;
}

/*pages*/
#main_content .pages{
    color: #666;
    padding-right: 10px;
}


/* личный кабинет */

#main_content #content_user{
    width: 100%;
    float: right;
    color: #666;
}
#main_content #content_user .user_body .auth_block th{
    text-align: left;
}
#main_content #content_user .user_body .auth_block td span{
    margin-left: 10px;
}

/*tours*/
#main_content .tours_body .content_block input.search_tours{
    background: #ED8845;
    border: none;
    margin: 20px 5px 10px 0;
    width: 131px;
    height: 43px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    font-weight: bold;
    float: right;
}
#main_content .tours_body .content_block input.search_tours:active{
    background: #C76551;
}

/* feedback */
#main_content #content_feedback table{
    width:700px;
    height:100%;
    margin: auto;
    text-align: center;
}
#main_content #content_feedback table a{
    border: 1px solid #ccc;
    display: inline;
    padding: 30px 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    background: #26B76E;
}
#main_content #content_feedback table a:hover{

    background: #189355;
}
#main_content #content_feedback table a:active{
box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

/* sections */
#main_content .section_contents{
    padding: 0 20px 30px 0;
}
#content_realty .category_strong{
    float: left;
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #666666;
    font-weight: bold;
}
#content_realty .category_menu a{
    float: left;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #666666;
    font-weight: bold;
}
#content_realty .category_menu a:hover{
    color: #fff;
    background: #aaa;
}
#content_realty .items_list{
    margin: 10px 30px 20px 0px;
    padding: 5px;
    height: 150px;
    border-bottom: 1px solid #aaa;
}
#content_realty .items_list #items_left{
    width: 120px;
    text-align: center;
    float: left;
}
#content_realty .items_list #items_left img{
    border: 1px solid #aaa;
    padding: 2px;
}
#content_realty .items_list #items_right{
    width: 500px;
    float: right;
}
#content_realty .items_list #items_right h3{
    color: #666666;
    font-size: 14px;
}
#content_realty .items_list #items_right h3:hover{
    color: #000;
    text-decoration: underline;
}
#content_realty .items_list #items_right .number{
    float: right;
    font-size: 14px;
    margin-top: -20px;
    font-weight: bold;
}



#content_realty #item{
    margin-right: 20px;
}
#content_realty #item .img{
    width: 300px;
    text-align: center;
    overflow-x: hidden;
    float: right;
}
#content_realty #item .img #main_photo{
    max-height: 150px;
}
#content_realty #item .img img:not(#main_photo){
    max-height: 150px;
    max-width: 150px;
}
#content_realty #item .info,
#content_realty #item .item_bottom{
    width: 350px;
    float: left;
}
#content_realty #item .item_bottom .item_price b{
    font-size: 23px;
    color: #9D1414
}

#content_realty #item .info ul{
    /*list-style:none;*/
    padding-left: 15px;
}

#content_realty #item .big_info ul{
    list-style:none;
}
.buy_realrty {
    background: #ED8845;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 43px;
    margin: 20px 5px 10px 0;
    min-width: 131px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    padding: 2px;
}
#item_modal {
    position: fixed;
    width: 400px;
    min-height: 300px;
    z-index: 300;
    margin-left: -20px;
    padding: 5px;
    background: #fff;
    color: #666;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    border: 1px solid #666;
    display: none;
}
#item_modal .closed{
    color: #aaa;
    float: right;
    margin: 0px 5px;
}
#item_modal .closed:hover{
    text-decoration: underline;
}
#item_modal textarea,
#item_modal input:not([type=submit]){
    width: 250px;
}
#item_modal .form_messages{
    text-align: center;
}