{% if voting %}<div class="sub_block voting">
    <table>
        <tr><td colspan="2"><b>{{ voting.name }}</b></td></tr>
        {% for rep in report %}
            <tr>
                <td><label>{% if valid %}<input class="voting_ajax" csrf="{{csrf_token}}" type="radio" name="voting" value="{{ rep.pk }}" />{% endif %}{{ rep.name }}</label></td>
                <td><div style="border:1px solid #666666; background: #45B4E5; float:left; margin: 4px 5px 2px; height: 10px; width: {{ rep.proc }}px;" id="votingline_{{ rep.pk }}"></div><strong id="votingresult_{{ rep.pk }}">{{ rep.count }}</strong></td>
            </tr>
        {% endfor %}
    </table>
</div><div class="sub_line"></div>{% endif %}

