{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
<div id="content_realty">

    <div class="realty_body">
    {% block content_realty %}
        sss
    {% endblock %}
    </div>
</div>
{% endblock %}


