{% extends "realty/base_realty.html" %}
{% load staticfiles i18n thumbnail %}
{% block content_realty %}
    <div class="content_block">
        <h1>{% if seo %}{{ seo.h1 }}{% else %}{% trans 'Каталог зарубежной недвижимости' %}{% endif %}{% if type_page == 'country' %} - {{ category.name }}{% endif %}</h1>
        <div class="content_line"></div>
        {% if items %}
        {% for item in items %}
            <div class="items_list">
                <div id="items_left"><a href="{{ item.get_absolute_url }}">
                    {% if item.itemphoto %}{% thumbnail item.itemphoto.big_image "100x100" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'img/no_img.jpg' %}">
                    {% endif %}

                </a></div>
                <div id="items_right">
                    <a href="{{ item.get_absolute_url }}"><h3>{{ item.name }}</h3></a>
                    <div class="number"> {% trans '№' %} {{ item.pk }}</div>
                    <div class="country" style="background-position: -{{ item.country.width }}px -{{ item.country.height }}px;"></div>{{ item.country }} <strong>{% if item.price == 0 %}{% trans 'По запросу' %}{% else %}{{ item.price }} {% trans 'euro' %}{% endif %}</strong><br>
                    {% if item.itemchars.chars02 %}{% trans 'Общая площадь' %}: {{ item.itemchars.chars02 }}м²<br>{% endif %}
                    {% if item.itemchars.chars12 %}{% trans 'Жилая площадь' %}: {{ item.itemchars.chars12 }}м²<br>{% endif %}
                    {% if item.itemchars.chars01 %}{% trans 'Количество комнат' %}: {{ item.itemchars.chars01 }}<br>{% endif %}
                    {% if item.itemchars.chars04 %}{% trans 'Тип' %}: {{ item.itemchars.get_chars04_display }}<br>{% endif %}
                    {% if item.itemchars.chars06 %}{% trans 'Расположение' %}: {{ item.itemchars.get_chars06_display }}<br>{% endif %}
                </div>
                <div class="clear"></div>
                </div>
        {% endfor %}
        <br>
        <div class="pagination">
        {# Вы спросите "это пагинатор?", даже луче, это БЫДЛОНАТОР 2000! #}
            <span class="step_links">
                {% if items.has_previous %}
                    <a href="{% if type_page == 'category' %}{% url "realty_category" category.pk items.previous_page_number %}{% else %}{% url "realty_country" category.pk items.previous_page_number %}{% endif %}" class="previous"></a>
                {% endif %}
                <span class="current">
                    {% for pag_num in pages_list %}
                        {% if page_id == pag_num %}<b>{{ pag_num }}</b>
                            {% else %}
                            {% if pag_num != "..." %}
                                <a href="{% if type_page == 'category' %}{% url "realty_category" category.pk pag_num  %}{% else %}{% url "realty_country" category.pk pag_num %}{% endif %}">{{ pag_num }}</a>
                            {% else %}<u class="tcheka">{{ pag_num }}</u>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </span>
                {% if items.has_next %}
                    <a href="{% if type_page == 'category' %}{% url "realty_category" category.pk items.next_page_number %}{% else %}{% url "realty_country" category.pk items.next_page_number %}{% endif %}" class="next"></a>
                {% endif %}
            </span>
        </div>
        {% else %}
            {% trans 'Предложения отсутствуют' %}
        {% endif %}
        {% if seo %}
            <div class="clear"></div><div class="content_line"></div>
            {% autoescape off %}{{ seo.seo_text }}{% endautoescape %}
        {% endif %}
    </div>
{% endblock %}