{% extends "realty/base_realty.html" %}
{% load staticfiles i18n cms_tag thumbnail %}

{% block content_realty %}
    <div class="content_block">
        <h1>{% if seo %}{{ seo.h1 }}{% else %}{% trans 'Каталог зарубежной недвижимости' %}{% endif %}</h1>
        <div class="content_line"></div>
            {% if category %}
                <div class="left category_strong">{% trans 'Разделы' %}:</div>
                {% for categ in category %}
                    {% if categ.category.count %}<div class="category_menu"><a href="{{ categ.get_absolute_url }}">{{ categ.name }} ({{ categ.category.count }})</a></div>{% endif %}
                {% endfor %}
            {% else %}
                {% trans '#Категории не созданы' %}
            {% endif %}
            <div class="clear"></div>
             {% if country %}
                 <div class="left category_strong">{% trans 'Страны' %}:</div>
                {% for countr in country %}
                    {% if countr.item_category.count  %}<div class="category_menu"><a href="{% url 'realty_country' countr.pk %}">{{ countr.title }} ({{ countr.item_category.count }})</a></div>{% endif %}
                {% endfor %}
            {% else %}
                {% trans '#Страны не созданы' %}
            {% endif %}

        {% if items %}
            <div class="content_line"></div>
            {% for item in items %}
                <div class="items_list">
                    <div id="items_left"><a href="{{ item.get_absolute_url }}">
                        {% if item.itemphoto %}{% thumbnail item.itemphoto.big_image "100x100" as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}
                        {% else %}
                            <img src="{% static 'img/no_img.jpg' %}">
                        {% endif %}

                    </a></div>
                    <div id="items_right">
                        <a href="{{ item.get_absolute_url }}"><h3>{{ item.name }}</h3></a>
                        <div class="number"> {% trans '№' %} {{ item.pk }}</div>
                        <div class="country" style="background-position: -{{ item.country.width }}px -{{ item.country.height }}px;"></div>{{ item.country }} <strong>{% if item.price == 0 %}{% trans 'По запросу' %}{% else %}{{ item.price }} {% trans 'euro' %}{% endif %}</strong><br>
                        {% if item.itemchars.chars02 %}{% trans 'Общая площадь' %}: {{ item.itemchars.chars02 }}м²<br>{% endif %}
                        {% if item.itemchars.chars12 %}{% trans 'Жилая площадь' %}: {{ item.itemchars.chars12 }}м²<br>{% endif %}
                        {% if item.itemchars.chars01 %}{% trans 'Количество комнат' %}: {{ item.itemchars.chars01 }}<br>{% endif %}
                        {% if item.itemchars.chars04 %}{% trans 'Тип' %}: {{ item.itemchars.get_chars04_display }}<br>{% endif %}
                        {% if item.itemchars.chars06 %}{% trans 'Расположение' %}: {{ item.itemchars.get_chars06_display }}<br>{% endif %}
                    </div>
                    <div class="clear"></div>
                    </div>
            {% endfor %}
            <br>
            <div class="pagination">
            {# Вы спросите "это пагинатор?", даже луче, это БЫДЛОНАТОР 2000! #}
                <span class="step_links">
                    {% if items.has_previous %}
                        <a href="{% url "realty_index_page" items.previous_page_number %}" class="previous"></a>
                    {% endif %}
                    <span class="current">
                        {% for pag_num in pages_list %}
                            {% if page_id == pag_num %}<b>{{ pag_num }}</b>
                                {% else %}
                                {% if pag_num != "..." %}
                                    <a href="{% url "realty_index_page" pag_num %}">{{ pag_num }}</a>
                                {% else %}<u class="tcheka">{{ pag_num }}</u>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </span>
                    {% if items.has_next %}
                        <a href="{% url "realty_index_page" items.next_page_number %}" class="next"></a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
        <div class="content_line"></div>
    {% section_text %}
    </div>
{% endblock %}