{% extends "realty/base_realty.html" %}
{% load staticfiles i18n thumbnail %}
{% block content_realty %}
    <div class="content_block">
        <h1>{{ item.name }}</h1>
        <div class="content_line"></div>
        <div id="item">
            <div class="img">
                {% if item.itemphoto.all %}
                    {% for photo in item.itemphoto.all %}
                    {% if forloop.first %}
                        <a href="{{ MEDIA_URL }}{{ photo.big_image }}" title="{{ photo.big_image }}" rel="lightbox">
                            <img id="main_photo" src="{{ MEDIA_URL }}{{ photo.big_image }}">
                        </a><div class="clear"></div>
                    {% else %}
                        <a href="{{ MEDIA_URL }}{{ photo.big_image }}" title="{{ photo.big_image }}" rel="lightbox">
                            {% thumbnail photo.big_image "x50" as im %}<img src="{{ im.url }}">{% endthumbnail %}
{#                            <img src="{{ MEDIA_URL }}{{ photo.big_image }}">#}
                        </a>
                    {% endif %}
                    {% endfor %}
                {% else %}
                    <img src="{% static 'img/no_img2.jpg' %}">
                {% endif %}
            </div>
            <div class="item_bottom">
                <div class="item_price">{% trans 'Стоимость' %}: {% if item.price == 0 %}<b>{% trans 'По запросу' %}</b>{% else %}<b>{{ item.price }}</b> {% trans 'euro' %}{% endif %}</div>
                <div class="country" style="background-position: -{{ item.country.width }}px -{{ item.country.height }}px;"></div>{{ item.country }}<br>
                <a href="#" class="buy_realrty">{% trans 'Отправить заявку' %}</a>
{#                <a href="">{% trans 'Заказать обратный звонок' %}</a>#}
                <div id="item_modal" rel="{{ item.pk }}">
                    <a href="#" class="closed">{% trans 'Закрыть' %}</a>
                    <div class="form_messages"></div>
                    <form method="post" class="realty_form">
                        {% csrf_token %}
                        <input type="hidden" name="item" value="{{ item.pk }}">
                        {% trans 'Ваше имя' %}<br><input type="text" name="fio" required><br>
                        {% trans 'Ваш телефон' %}<br><input type="text" name="phone" required><br>
                        {% trans 'Ваш email' %}<br><input type="text" name="email"><br>
                        {% trans 'Комментарий' %}<br><textarea name="messages"></textarea><br>
                        <input type="submit" value="отправить">

                    </form>
                </div>
            </div>
            <div class="info">
                <strong>{% trans 'Харрактеристики недвижимости' %}</strong>
                {% if item.itemchars %}<ul>
                    {% if item.itemchars.chars01 %}<li>{% trans 'Количество комнат' %}: {{ item.itemchars.chars01 }}</li>{% endif %}
                    {% if item.itemchars.chars02 %}<li>{% trans 'Общая площадь' %}: {{ item.itemchars.chars02 }}м²</li>{% endif %}
                    {% if item.itemchars.chars03 %}<li>{% trans 'Количество сан узлов' %}: {{ item.itemchars.chars03 }}</li>{% endif %}
                    {% if item.itemchars.chars04 %}<li>{% trans 'Тип' %}: {{ item.itemchars.get_chars04_display }}</li>{% endif %}
                    {% if item.itemchars.chars05 %}<li>{% trans 'Регион' %}: {{ item.itemchars.chars05 }}</li>{% endif %}
                    {% if item.itemchars.chars06 %}<li>{% trans 'Расположение' %}: {{ item.itemchars.get_chars06_display }}</li>{% endif %}
                    {% if item.itemchars.chars07 %}<li>{% trans 'Мебелирование' %}: {{ item.itemchars.get_chars07_display }}</li>{% endif %}
                    {% if item.itemchars.chars08 %}<li>{% trans 'Всего этажей' %}: {{ item.itemchars.chars08 }}</li>{% endif %}
                    {% if item.itemchars.chars09 %}<li>{% trans 'Этаж' %}: {{ item.itemchars.chars09 }}</li>{% endif %}
                    {% if item.itemchars.chars10 %}<li>{% trans 'Балкон' %}: {{ item.itemchars.get_chars10_display }}</li>{% endif %}
                    {% if item.itemchars.chars12 %}<li>{% trans 'Жилая площадь' %}: {{ item.itemchars.chars12 }}м²</li>{% endif %}
                    {% if item.itemchars.chars13 %}<li>{% trans 'Гараж' %}: {{ item.itemchars.get_chars13_display }}</li>{% endif %}
                    {% if item.itemchars.chars14 %}<li>{% trans 'Легализация' %}: {{ item.itemchars.get_chars14_display }}</li>{% endif %}
                    {% if item.itemchars.chars15 and item.itemchars.chars15.all %}<li>{% trans 'Коммуникации' %}: {% for chars15 in item.itemchars.chars15.all %}{{ chars15.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>{% endif %}
                    {% if item.itemchars.chars16 %}<li>{% trans 'Тип комерческой недвижимости' %}: {{ item.itemchars.get_chars16_display }}</li>{% endif %}
                    {% if item.itemchars.chars17 %}<li>{% trans 'Рентабильность' %}: {{ item.itemchars.chars17 }} %</li>{% endif %}
                </ul>{% endif %}
            </div>
            <div class="clear"></div><div class="content_line"></div>
            {% if item.itemchars.chars11 %}<div class="big_info">
                <strong>{% trans 'Описание недвижимости' %}</strong><br>
                {% autoescape off %}{{ item.itemchars.chars11 }}{% endautoescape %}
            </div>{% endif %}
        </div>

    </div>
{% endblock %}

{% block extended_css %}
    <link href="/static/lightbox/css/lightbox.css" rel="stylesheet" />
{% endblock %}

{% block extended_js %}
    <script type="text/javascript" src="/static/lightbox/js/lightbox.js"></script>
{% endblock %}
