{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
<div id="content_user">
    <div class="user_body">
    {% block content_user %}{% endblock %}
    </div>
</div>
{% endblock %}


