{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
    {% if user.is_anonymous %}
    <form method="post">
    {% csrf_token %}
    <table class="auth_block">
        <tr><td>
            <h1>{% trans 'Вход' %}</h1>
            <div class="content_line"></div>
        </td></tr>

        {% if error %}<tr><td class="red">{{ error }}</td></tr>{% endif %}
        <tr><td>
            &nbsp;&nbsp;&nbsp;{% trans 'email или телефон' %}:<br> <input name="login" type="text"{% if request.POST and request.POST.login %} value="{{ request.POST.login }}"{% endif %} /><br>
            &nbsp;&nbsp;&nbsp;{% trans 'пароль' %}:<br> <input name="password" type="password" /><br>
            <input type="submit" value="{% trans 'Войти на сайт' %}" />
        </td></tr>


    </table>
    </form>
        <div class="content_line"></div>
    <h2>или</h2><br>
        <script src="//ulogin.ru/js/ulogin.js"></script>
        <div id="uLogin" data-ulogin="display=panel;fields=first_name,last_name,email,bdate;optional=photo,photo_big,city,country,phone;providers=vkontakte,facebook,twitter,google,openid,linkedin,mailru;hidden=other;redirect_uri=http%3A%2F%2F{{request.META.HTTP_HOST}}%2Fuser%2Fulogin%2F%3Fnext%3D{{request.META.PATH_INFO}}"></div>
    {% else %}
        {% trans '#Да вы же авторезированы уже' %}
    {% endif %}
{% endblock %}