{% extends "person/base_person.html" %}
{% load staticfiles i18n %}
{% block content_user %}

    <form method="post">
    {% csrf_token %}
    <table class="auth_block">
        {{ form.as_table }}
    </table>
    <input type="submit" value="{% trans ' #Сохранить' %}" />
    </form>
    <div class="content_line"></div>

    <h2>{% trans '#Подвязать к аккаунту социальные сети' %}</h2><br>
    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div id="uLogin" data-ulogin="display=panel;fields=first_name,last_name,email,bdate;optional=photo,photo_big,city,country,phone;providers=vkontakte,facebook,twitter,google,openid,linkedin,mailru;hidden=other;redirect_uri=http%3A%2F%2F{{request.META.HTTP_HOST}}%2Fuser%2Fulogin%2F%3Fnext%3D{{request.META.PATH_INFO}}"></div>
    {% if social %}<br>Подключённые профили: {% for soc in social %}<b>{{ soc.auth.name }}</b>{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}{% endif %}<br><br>

{% endblock %}