{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
    <hr>
    222 333<br><hr>
    <img src="{% static 'img/jqconaustin.png' %}" border="1" /><br> static 'img/Shot00039.JPG'<hr>
    <img src="{{ STATIC_URL }}img/jqconaustin.png" border="1" /><br>STATIC_URL }}img/Shot00039.JPG<hr>
    <br>
    <img src="{{ MEDIA_URL }}logo.gif" border="1" /><br>MEDIA_URL }}img/1Shot00039.JPG<hr>
{% endblock %}
