{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
    {% autoescape off %}
        <h1>{% trans 'Новости' %}</h1>
        <div class="content_line"></div>
        <div class="pagination">
            <span class="step_links">
                {% if news.has_previous %}
                    <a href="{% url "news_page" sect_path news.previous_page_number %}" class="previous"></a>
                {% endif %}
                <span class="current">
                    {% for pag_num in pages_list %}{% if page_id == pag_num %}<b>{{ pag_num }}</b>{% else %}{% if pag_num != "..." %}<a href="{% url "news_page" sect_path pag_num  %}">{{ pag_num }}</a>{% else %}<u class="tcheka">{{ pag_num }}</u>{% endif %}{% endif %}{% endfor %}
                </span>
                {% if news.has_next %}
                    <a href="{% url "news_page" sect_path news.next_page_number %}" class="next"></a>
                {% endif %}
            </span>
        </div>
        <div class="clear"></div>

        <div class="content_line"></div>
        <br>
        <table class="news">
        {% for news_one in news %}
            <tr><td width="150"><b>{{ news_one.created|date:"H:i d.m.Y" }}</b></td><td><a href="{{ news_one.get_absolute_url }}">{{ news_one.name }}</a></td></tr>
            <tr><td colspan="2"><img src="{{ MEDIA_URL }}{{ news_one.min_images }}" />{{ news_one.min_text }}<div class="content_line"></div></td></tr>
        {% endfor %}
        </table>
        <div class="clear"></div>

        <br>
        <div class="pagination">
            <span class="step_links">
                {% if news.has_previous %}
                    <a href="{% url "news_page" sect_path news.previous_page_number %}" class="previous"></a>
                {% endif %}
                <span class="current">
                    {% for pag_num in pages_list %}{% if page_id == pag_num %}<b>{{ pag_num }}</b>{% else %}{% if pag_num != "..." %}<a href="{% url "news_page" sect_path pag_num  %}">{{ pag_num }}</a>{% else %}<u class="tcheka">{{ pag_num }}</u>{% endif %}{% endif %}{% endfor %}
                </span>
                {% if news.has_next %}
                    <a href="{% url "news_page" sect_path news.next_page_number %}" class="next"></a>
                {% endif %}
            </span>
        </div>
        <div class="clear"></div><br><br><br>


    {% endautoescape %}
{% endblock %}