{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
    {% autoescape off %}
    <div class="news_one">
        <b><tt>{{ news.created|date:"H:i d.m.Y" }}</tt></b> <strong>{{ news.name }}</strong><br>
        <img src="{{ MEDIA_URL }}{{ news.min_images }}" />{{ news.max_text }}<br>
    </div>
{% endautoescape %}
{% endblock %}