{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
    <div class="pages">
        <h1>{% if seo %}{{ seo.h1 }}{% endif %}</h1>
        <div class="content_line"></div>
        {% autoescape off %}{{ pages.text }}{% endautoescape %}</div>
{% endblock %}