{% extends "base.html" %}
{% load staticfiles i18n cms_tag %}

{% block voting %}
    {% voting section.pk %}
{% endblock %}

{% block content %}
    <h1>{% if seo %}{{ seo.h1 }}{% endif %}</h1>
    <div class="content_line"></div>
{% endblock %}