{% if sections %}
    <table class="sub_menu">
        {% for section in sections %}
            <tr><td><a href="{{ section.get_absolute_url }}"{% if my_url == section.get_absolute_url %} class="active"{% endif %}>{{ section }}</a></td></tr>
        {% endfor %}
    </table>
    <div class="sub_line"></div>
{% endif %}