<table border="1"><tr>
{% for section in sections %}
    <td><a href="{{ section.get_absolute_url }}"{% if my_url in section.get_absolute_url %} class="active"{% endif %}>{# {{ section }} #}{{ my_url }}+{{ section.get_absolute_url }}</a></td>
{% endfor %}
</tr></table>