{% load staticfiles compress i18n cms_tag %}<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% if seo.title %}{{ seo.title }}{% endif %}</title>
    <meta name="keywords" content="{% if seo.keywords %}{{ seo.keywords }}{% endif %}" />
    <meta name="description" content="{% if seo.description %}{{seo.description}}{% endif %}" />

    {% autoescape off %}{{ site.sites.meta }}{% endautoescape %}
        {% compress css %}
            <link rel="stylesheet" href="{% static 'jquery/themes/humanity/jquery.ui.theme.css' %}" />
            <link rel="stylesheet" href="{% static 'jquery/themes/humanity/jquery.ui.core.css' %}" />
            <link rel="stylesheet" href="{% static 'jquery/themes/humanity/jquery.ui.datepicker.css' %}" />
            <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        {% endcompress %}
        {% block extended_css %}{% endblock %}
</head>
    <body>
    {% block top_menu %}{% top_menu %}{% endblock %}
    {% block sub_menu %}{% sub_menu %}{% endblock %}

    {% block content %}{% endblock %}

        <script type="text/javascript" src="/js_lang.js"></script>
        {% compress js %}
        <script type="text/javascript" src="{% static 'jquery/js/jquery-1.9.1.js' %}"></script>
{#        <script type="text/javascript" src="{% static 'jquery/js/jquery-ui-1.10.3.custom.min.js' %}"></script>#}
        <script type="text/javascript" src="{% static 'jquery/ui/jquery.ui.core.js' %}"></script>
{#        <script type="text/javascript" src="{% static 'jquery/ui/jquery.ui.widget.js' %}"></script>#}
        <script type="text/javascript" src="{% static 'jquery/ui/i18n/jquery.ui.datepicker-ru.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery/ui/jquery.ui.datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/my.js' %}"></script>
        {% endcompress %}
{#            <script type="text/javascript" src="{% static 'js/inputs.js' %}"></script>#}

        {% block extended_js %}{% endblock %}
    {% autoescape off %}{{ site.sites.footer }}{% endautoescape %}
    </body>
</html>