{% load staticfiles compress i18n cms_tag %}<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% if seo.title %}{{ seo.title }}{% else %}index - diz{% endif %}</title>
    <meta name="keywords" content="{% if seo.keywords %}{{ seo.keywords }}{% endif %}" />
    <meta name="description" content="{% if seo.description %}{{seo.description}}{% endif %}" />

    {% autoescape off %}{{ site.sites.meta }}{% endautoescape %}
        {% compress css %}
            <link rel="stylesheet" href="{% static 'jquery/themes/humanity/jquery.ui.theme.css' %}" />
            <link rel="stylesheet" href="{% static 'jquery/themes/humanity/jquery.ui.core.css' %}" />
            <link rel="stylesheet" href="{% static 'jquery/themes/humanity/jquery.ui.datepicker.css' %}" />
            <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        {% endcompress %}
        {% block extended_css %}{% endblock %}
</head>
    <body>
        <div id="body">
            <div id="top_menu">
                <a href="/" class="logo_top"><img src="{% static 'img/logo_top.png' %}" alt=""></a>
                {% for secti in sections %}
                    <a href="{{ secti.get_absolute_url }}" class="menu_top{% if secti.get_absolute_url in request.META.PATH_INFO %} active{% endif %}">{{ secti }}</a>
                {% endfor %}

                <div class="login_top">
                    {% if user.is_anonymous %}
                        <a href="{% url 'login' %}">{% trans 'Вход' %}</a>
                        <a href="{% url 'registr' %}">{% trans 'Регистрация' %}</a>
                    {% else %}
                        <a href="{% url 'edit_profile' %}">{% trans 'Личный кабинет' %}</a>
                        <a href="{% url 'logout' %}">{% trans 'Выход' %}</a>
                    {% endif %}
                </div>
            </div>
            <div class="clear"></div>
            <div id="top_banner">top_banner</div>
            <div id="content">
                <div id="sub_menu">
                    {% block sub_menu %}{% sub_menu %}{% endblock %}
                    {% block voting %}{% endblock %}

{#                    <div class="sub_block">sub_block</div>#}
{#                    <div class="sub_line"></div>#}
                </div>
                <div id="main_content">
                    {% block content %}{% endblock %}
                    <div class="section_contents">{% autoescape off %}{{ section.seo_text }}{% endautoescape %}</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="footer">
            <div id="footer_menu"></div>
            <div id="footer_contact">
                <p>
                    {% autoescape off %}{{ site.sites.footer_contacts|linebreaksbr }}{% endautoescape %}
                </p>
            </div>
        </div>
    <script type="text/javascript" src="/js_lang.js"></script>
    {% compress js %}
    <script type="text/javascript" src="{% static 'jquery/js/jquery-1.9.1.js' %}"></script>
{#        <script type="text/javascript" src="{% static 'jquery/js/jquery-ui-1.10.3.custom.min.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'jquery/ui/jquery.ui.core.js' %}"></script>
{#        <script type="text/javascript" src="{% static 'jquery/ui/jquery.ui.widget.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'jquery/ui/i18n/jquery.ui.datepicker-ru.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/ui/jquery.ui.datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/my.js' %}"></script>
    {% endcompress %}
{#            <script type="text/javascript" src="{% static 'js/inputs.js' %}"></script>#}

    {% block extended_js %}{% endblock %}
    {% autoescape off %}{{ site.sites.footer }}{% endautoescape %}
    </body>
</html>