{% load staticfiles compress i18n cms_tag %}<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{{ site.sites.title }}</title>
    <meta name="keywords" content="{{ site.sites.keywords }}" />
    <meta name="description" content="{{ site.sites.description }}" />

    {% autoescape off %}{{ site.sites.meta }}{% endautoescape %}
        {% compress css %}
            <link rel="stylesheet" href="{% static 'jquery/themes/humanity/jquery.ui.theme.css' %}" />
            <link rel="stylesheet" href="{% static 'jquery/themes/humanity/jquery.ui.core.css' %}" />
            <link rel="stylesheet" href="{% static 'jquery/themes/humanity/jquery.ui.datepicker.css' %}" />
            <link rel="stylesheet" href="{% static 'css/index.css' %}" />
        {% endcompress %}
        {% block extended_css %}{% endblock %}
</head>
    <body>
        <div id="body">
            <div id="ostrov">
                <div id="content">
                    <div id="phone_top">{{ site.sites.contacts }}</div>
                    <div id="auth_top">
                        {% if user.is_anonymous %}
                            <a href="{% url 'login' %}">{% trans 'Вход' %}</a>
                            <a href="{% url 'registr' %}">{% trans 'Регистрация' %}</a>
                        {% else %}
                            <a href="{% url 'edit_profile' %}">{% trans 'Личный кабинет' %}</a>
                            <a href="{% url 'logout' %}">{% trans 'Выход' %}</a>
                        {% endif %}
                     </div>
                    <div class="clear"></div>
                    <div id="left_menu">
                        {% for secti in sections %}
                        <div class="left_menu_l"></div><a href="{{ secti.get_absolute_url }}">{{ secti.name }}</a><div class="left_menu_r"></div><div class="clear"></div>
                        {% endfor %}
                    </div>
                    <div id="right_menu">

                    </div>
                </div>

                <div id="club_interests"></div><div class="clear"></div>
                {% if site.sites.about %}<div id="club_about">{% autoescape off %}{{ site.sites.about }}{% endautoescape %}</div>{% endif %}
            </div>
            <div id="footer">
                <div id="social">
                    <a href="#" id="vkontakte"></a>
                    <a href="#" id="google"></a>
                    <a href="#" id="facebook"></a>
                    <a href="#" id="twitter"></a>
                </div>
                <div id="contacts">
                    <img src="{% static "img/index/footer_logo.png" %}"><br>
                    <p>
                        {% autoescape off %}{{ site.sites.footer_contacts|linebreaksbr }}{% endautoescape %}
                    </p>
                </div>
            </div>
        </div>
    {% autoescape off %}{{ site.sites.footer }}{% endautoescape %}
    </body>
</html>