{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
<div id="content_hotels">
    <div class="hotels_top_menu">hotels_top_menu</div>
    <div class="hotels_left_menu">
        <ul>
            <li>hotels_left_menu 1</li>
            <li>hotels_left_menu 2</li>
            <li>hotels_left_menu 3</li>
        </ul>
    </div>
    <div class="hotels_body">
    {% block content_hotels %}
        sss
    {% endblock %}
    </div>
</div>
{% endblock %}


