{% extends "hotels/base_hotels.html" %}
{% load staticfiles i18n %}
{% block content_hotels %}
    <div class="content_block">
        <h2>Заголовок</h2>
        <script src="http://ui.sletat.ru/client/tour_page_linker.js?settings={formViewMode:'block'}&sfx=_vxV6G" type="text/javascript"></script><iframe onload="sm_sly_vxV6G.init();" id="sm_slyHotel" src="" width="100%" frameborder="0" style="height:100%" scrolling="yes"></iframe><script type="text/javascript">var m,h,i,o,v=[],s=window.location.href.slice(window.location.href.indexOf("?")+1).split("&"),z="sm_slyHotel";for(i=0;i<s.length;i++){h=s[i].split("=");v.push(h[0]);v[h[0]]=h[1]}m=typeof v["sessionId"]!=="undefined"?"&sessionId="+v["sessionId"]:"";if(typeof v["hid"]!=="undefined"){i=parseInt(v["hid"],10);if(navigator.userAgent.toLowerCase().indexOf("firefox")>-1)o=document.getElementById(z).contentWindow;else o=window.frames[z];o.location="http://hotels.sletat.ru/?id="+i+m}</script>
    </div>

{% endblock %}