{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
    <div class="content_block">
        <h1>SEO</h1>
        <div class="content_line"></div>
        <a href="{% url 'seo_tours_direct_url' %}">Конструктор ссылок для директа туризма</a>
    </div>
{% endblock %}