{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
    <div class="content_block">
        <h1>SEO - Конструктор ссылок для директа туризма</h1>
        <div class="content_line"></div>

    </div>
{% endblock %}