{% extends "feedback/base_feedback.html" %}
{% load staticfiles i18n %}
{% block content_feedback %}
    <div class="content_block">
{#        <h2>{% trans '#Заголовок' %}</h2>#}
        <style>
            fieldset {display: none;}
            h2.fq_subject {cursor:pointer;}
        </style>

        {% for fq in questions %}
            <h2 class="fq_subject" rel="show_{{ forloop.counter }}">#{{ forloop.counter }} {{ fq.subject }}</h2>
            {% if fq.question %}<fieldset class="show_{{ forloop.counter }}" style="border: 1px solid #0099FF;">
                <legend>{% trans '#Вопрос' %}</legend>
                {% autoescape off %}{{ fq.question }}{% endautoescape %}
            </fieldset><br>{% endif %}
            <fieldset class="show_{{ forloop.counter }}" style="border: 1px solid #468847;">
                <legend>{% trans '#Ответ специалиста' %}</legend>
                {% autoescape off %}{{ fq.reply }}{% endautoescape %}
            </fieldset>
            <br>
        {% endfor %}
    </div>

{% endblock %}