{% extends "feedback/base_feedback.html" %}
{% load staticfiles i18n %}
{% block content_feedback %}
    <div class="content_block">
        <h2>{% trans '#Форма обратной связи' %}</h2>
        <form method="post">
            {% csrf_token %}
{#            Скрыл на время#}
{#            {% if form.errors %}{{ form.errors }}{% endif %}#}
            <table border="1">
                {{ form.as_table }}
            </table>
            <input type="submit" value="{% trans 'Отправить' %}" />
        </form>
    </div>

{% endblock %}