{% extends "feedback/base_feedback.html" %}
{% load staticfiles i18n %}
{% block content_feedback %}
        <br><br><br><br>
        <table>
            <tr>
                <td><a href="{% url 'feedback_form' url %}" class="">{% trans '#Форма на сайте' %}</a></td>
                <td><a href="{% url 'feedback_phone' url %}">{% trans '#Закажи звонок' %}</a></td>
                <td><a href="{% url 'feedback_faq' url %}">{% trans '#Вопрос-ответ' %}</a></td>
{#                <td><a href="{% url feedback_faq %}">{% trans '#Контакты' %}</a></td>#}
            </tr>
        </table>
        <br><br><br><br>

{% endblock %}